# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs

# other
eclipse
run
run_server
.vscode
.architectury-transformer/
/gradle-8.3-bin.zip
/gradle-8.2-bin.zip
